* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #edf0f1;
}

/* Real Body of the webpage */
main {
  text-align: center;
  /* background-image: url(../images/bg_2.jpg); */
  background-image: url(../images/main2.jpeg);
  background-position: center center !important;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  display: block;
  height: 763px;
}

/* Overlay layer that makes it looks darker. */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: .7;
}

/* No decoration for this elements */
li, a, button {
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/****************** This is the Nav Bar ********************/
.nav {
  display: flex;
  position: absolute;
  /* top: 2.5em; */
  top: 50px;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  /* background-color: rgba(255, 255, 255, 0.05); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo, .logo a{
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  /* color: #0088a9; */
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  /* color: #0088a9; */
}

.nav__links li a:hover {
  transition: all 0.3s ease 0s;
  color: #0088a9; 
}

.nav__links li a:active { /* When the link is active it has a color */
  color: #c8a97e;
}

button {
  padding: 9px 29px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.6);
}

/**************** This is the info bar ******************/
.wrap_info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: block;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05) !important;
  padding-bottom: 0.35rem !important;
  padding-top: 0.35rem !important;
}

.info_layer {
  background-color: transparent;
  list-style: none;
}

.info_layer li {
  background-color: transparent;
  transition: all 0.3s ease 0s;
  display: inline-block;
  padding: 0px 100px;
  color: rgba(255, 255, 255, 0.5)
}